/* Add this CSS at the end of your existing CSS */

body {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  width: 30px; /* Set width for the cursor */
  height: 30px; /* Set height for the cursor */
  border-radius: 50%; /* Make it a circle */
  background-color: rgba(255, 255, 255, 0.5); /* White with transparency */
  pointer-events:all; /* Prevent mouse events */
  transition: background-color 0.3s ease; /* Optional: smooth transition */
  z-index: 9999; /* Make sure it stays above other elements */
}

.App {
  text-align: center;
  background: linear-gradient(to right, #746ce0, #e982e7);
}

.App-logo {
  height: 40vmin; 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

